WebContent/wsdl/AuthService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checkPasswd">
    <complexType>
     <sequence>
      <element name="idNo" type="xsd:string"/>
      <element name="passwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkPasswdResponse">
    <complexType>
     <sequence>
      <element name="checkPasswdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkPasswdRequest">

      <wsdl:part element="impl:checkPasswd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkPasswdResponse">

      <wsdl:part element="impl:checkPasswdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AuthService">

      <wsdl:operation name="checkPasswd">

         <wsdl:input message="impl:checkPasswdRequest" name="checkPasswdRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkPasswdResponse" name="checkPasswdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthServiceSoapBinding" type="impl:AuthService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkPasswd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkPasswdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkPasswdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthServiceService">

      <wsdl:port binding="impl:AuthServiceSoapBinding" name="AuthService">

         <wsdlsoap:address location="http://localhost:8090/TanTimaServices/services/AuthService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
